<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties resource="classpath:datasource.properties"></properties>

    <!-- 配置别名，也可以在实例对象上加@Alias(“TestOracle2”)  这样的优先级更高 -->
    <!-- 包扫描的方式，默认别名就是类名 -->
    <typeAliases>
        <package name="com.imooc.mall.domain"/>
    </typeAliases>

    <!--<typeAliases>-->
        <!--<typeAlias type="com.imooc.mall.domain.Order" alias="Order"/>-->
    <!--</typeAliases>-->

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${database.driver}"/>
                <property name="url" value="${database.url}"/>
                <property name="username" value="${database.username}"/>
                <property name="password" value="${database.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource=""></mapper>
    </mappers>
</configuration>